// Configuration file for Bcl2Fastq analysis pipeline 

params {

       /* =====================
       *   User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/projects/fs1/nas-sync/uploads/201012_A00681_0225_AHMV5GDRXX"
	workdir = "/projects/fs1/medpvb/proj/bulkRNA/201012_225/"

	// Project ID (Can be any)
	metaid = "201012_CTG"
	ssheet = "samplesheet.csv"

       /* =============================
       *   Automatically set params:
       *  =============================
       */


	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${workdir}/CTG_output/"


	// Lanes (Set 0 if all lanes should be included!)
	lanes = 0

	// Automatic assignment
	sheet = "$workdir/$ssheet"
	fqDir = "${outDir}Fastq/"
	qcDir = "${outDir}QCdir/"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/medpvb/containers_singularity/RNAseqTools/RNAseqTools.sif' 
	time='15h'
	cpus='16'

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'	    
}
