// Configuration file for 10x scATACseq analysis pipeline 

params {

       /* =====================
       * User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/fs1/per/proj/VDJ_seq/200527_VDJ_Covid/200526_NB501986_0209_AHCLJCAFX2/"

	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"
	ssheet = "samplesheet.csv"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${experiment}/CTG_output_dir/"


	// Project ID (Can be any)
	metaid = "200527_VDJ"


	// Automatic assignment
	sheet = "$experiment/$ssheet"
	fqDir = "${outDir}Fastq_raw/"
	countDir = "${outDir}Count_CR/"
	qcDir = "${outDir}QC/"
	aggDir = "${outDir}Aggregate/"
	vdjDir = "${outDir}VDJ/"
	sumDir = "${outDir}Summaries/"
}

// Define SLURM specs
process {
	executor='slurm'
	queue='normal'
	container = '/fs1/per/containers_singularity/cellranger-rna/cellranger-rna_3.1.0_pipe.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='24h'
		cpus='16'
		memory='64 GB'
	}
	withName:count {
		time='2d'
		cpus='56'
		memory='180 GB'
	}
	withName:crVDJ {
		time='48h'
   		cpus='56'
		memory='100GB'		       
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /fs1/ --bind /local/'	    
}
