// Configuration file for Bcl2Fastq analysis pipeline 

params {

       /* =====================
       *   User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/projects/fs1/nas-sync/upload/200724_A00681_0191_AHNHK3DRXX"
	workdir = "/projects/fs1/medpvb/proj/scATACseq/2020_110/"

	// Project ID (Can be any)
	metaid = "2020_110_demux"
	ssheet = "samplesheet.csv"

       /* =============================
       *   Automatically set params:
       *  =============================
       */


	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${workdir}/CTG_output/"


	// Lanes (Set 0 if all lanes should be included!)
	lanes = 0

	// Automatic assignment
	sheet = "$workdir/$ssheet"
	fqDir = "${outDir}Fastq/"
	qcDir = "${outDir}QCdir/"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/medpvb/containers_singularity/cellranger-rna/cellranger-4.0.0_RNA.sif'
	time='15h'
	cpus='16'

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}