// Configuration file for 10x scATACseq analysis pipeline 

params {

       /* =====================
       * User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/fs1/seqdata/NovaSeq/200601_A00681_0147_AHLL7KDRXX"

	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"
	ssheet = "samplesheet.csv"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${experiment}/CTG_output/"


	// Project ID (Can be any)
	metaid = "200601_MansK"

	// Set true if Cite-seq Count should be run
	citeseqCount = true

	// Must be created manually before run
	citeseq_tags = "${experiment}/citeseq_tags.csv"
	citeseq_ssheet = "${experiment}/samplesheet_adt.csv"

	// Automatic assignment
	sheet = "$experiment/$ssheet"
	fqDir = "${outDir}Fastq/"
	countDir = "${outDir}Count/"
	qcDir = "${outDir}QC/"
	citeseqDir = "${outDir}CiteSeqCount/"
}

// Define SLURM specs
process {
	executor='slurm'
	queue='normal'
	container = '/fs1/per/containers_singularity/cellranger-rna/cellranger-rna_3.1.0_pipe.sif'
	time='5h'
	cpus='8'
	memory='64 GB'
	withName:mkfastq {
		time='24h'
		cpus='16'
	}
	withName:count {
		time='2d'
		cpus='56'
		memory='180 GB'
	}
	withName:citeseqCount {
	      time='4d'	
	      cpus='56'
	      memory='100 GB'
	}			      

}


singularity {
	    enabled = true
	    runOptions = '--bind /fs1/ --bind /local/'	    
}
