// Configuration file for 10x scATACseq analysis pipeline 

params {

       /* =====================
       * User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/projects/fs1/nas-sync/upload/200925_A00681_0215_AHV5LGDMXX/"
	basedir = "/projects/fs1/medpvb/proj/scRNAseq/10x/200925_sc10xRNA/"

	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"
	ssheet = "samplesheet.csv"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.
 	outDir = "${basedir}CTG_output/"

	// Project ID (Can be any)
	metaid = "200925"

	// Set if aggregation desired
	aggregate = true 

	// Automatic assignment
	sheet = "${basedir}${ssheet}"
	fqDir = "${outDir}Fastq/"
	countDir = "${outDir}Count/"
	qcDir = "${outDir}QC/"
	aggDir ="${outDir}Aggregate/"
	sumDir ="${outDir}Summaries/"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/medpvb/containers_singularity/cellranger-rna/cellranger-rna_3.1.0_pipe.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='24h'
		cpus='16'
		memory='64 GB'
	}
	withName:count {
		time='2d'
		cpus='20'
		memory='180 GB'
	}
	withName:aggregate {
		time='2d'
		cpus='20'
		memory='180 GB'	
		   
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
