// Configuration file for 10x scATACseq analysis pipeline 

// User defined params:
params {
	// Folder of experiment raw data
	experiment = "/fs1/seqdata/NovaSeq/200303_A00681_0083_AHKFWKDRXX/"

	// Sample Sheet (Must be in directory defined above!)
	sheetType = "norm"
	ssheet = "custom_samplesheet.csv"
	sheet = "$experiment/$ssheet"

	// Project Name (MUST MATCH THE SAMPLE SHEET "Sample_Project"
//	sampleProj = "p1"
	
	// Project ID (Can be any)
	metaid = "200303atac"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.
 	outDir = "/fs1/per/single_cell/projects/scatac/atacseq_pipe/200303/outdir/"
	fqDir = "${outDir}Fastq/"
	countDir = "${outDir}Count/"
	qcDir = "${outDir}QCdir/"
}

// Define SLURM specs
process {
	executor='slurm'
	queue='highest'
	container = '/fs1/per/containers_singularity/cellranger-atac/cellranger-atac-1.2.0_pipe.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='10h'
		cpus='8'
	}
	withName:count {
		executor='slurm'
		queue='highest'
		time='10h'
		cpus='8'
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /fs1/ --bind /local/'	    
}
