// Configuration file for Bcl2Fastq analysis pipeline 

params {

       /* =====================
       *   User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/projects/fs1/nas-sync/upload/201013_A00681_0228_AHV5NWDMXX"
	workdir = "/projects/fs1/medpvb/proj/bulkRNA/201013_MV/051_SMARTer/"

	// Project ID (Can be any)
	metaid = "2020_124"
	ssheet = "${workdir}/samplesheet.csv"

        ref_genome_dir = "/opt/star_ref_index/"

	// set Align/Quant
	align = true
	quant = true
	
        // FeatureCounts params
        gtf = "/opt/gencode.v33.annotation.gtf.gz"
        stranded = 2
        feature = 'exon'
	paired = '-p' // leave blank ('') if not paired end. set to ('-p') if paired end

       /* =============================
       *   Automatically set params:
       *  =============================
       */


	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${workdir}/CTG_output/"


	// Lanes (Set 0 if all lanes should be included!)
	lanes = 0

	// Automatic assignment
	sheet = "$ssheet"
	fqDir = "${outDir}Fastq_raw/"
	qcDir = "${outDir}QCdir/"
	bamDir = "${outDir}STAR/"
	quantDir = "${outDir}Quant/"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/medpvb/containers_singularity/bulkRNA/bulkRNA_STAR.sif'
	time='15h'
	cpus='16'

	withName:STAR {
		time='48h'
		cpus='16'
		memory='164 GB'
	}
	withName:featureCounts {
	   	time='2d'
		cpus='20'
		memory='180GB'
	}
	
}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'	    
}
