// Configuration file for Bcl2Fastq analysis pipeline 

params {

       /* =====================
       *   User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/projects/fs1/medpvb/proj/bulkRNA/200618_MV/raw_data/200618_A00681_0164_BHTHH3DMXX"

	// Project ID (Can be any)
	metaid = "200618_MV"
	ssheet = "samplesheet.csv"

	// STAR alignment params
        ref_genome_dir = "/projects/fs1/medpvb/genomicData/hg38/STAR/star_ref_index/"
	
	// FeatureCounts params
	gtf = "/projects/fs1/medpvb/genomicData/hg38/annotation/gencode/v33/gencode.v33.annotation.gtf"
	stranded = 2

       /* =============================
       *   Automatically set params:
       *  =============================
       */


	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

	baseDir = "/projects/fs1/medpvb/proj/bulkRNA/200618_MV/"
 	outDir = "${baseDir}/CTG_output/"


	// Lanes (Set 0 if all lanes should be included!)
	lanes = 0

	// Automatic assignment
	sheet = "${baseDir}/$ssheet"
	fqDir = "${outDir}/Fastq/"
	qcDir = "${outDir}/QCdir/"
	bamDir = "${outDir}/STAR/"
	quantDir = "${outDir}/Quantification/"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/medpvb/containers_singularity/RNAseqTools/RNAseqTools.sif'
	time='15h'
	cpus='16'
	
	withName:STAR {
		 time='24h'
		 cpus='20'
		 memory='120 GB'
        }	
	withName:FeatureCounts {
	   	time='2d'
		cpus='20'
		memory='180GB'
	}

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/medpvb/'
}
