// Configuration file for Bcl2Fastq analysis pipeline 

params {

       /* =====================
       *   User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/fs1/seqdata/NovaSeq/200618_A00681_0164_BHTHH3DMXX"

	// Project ID (Can be any)
	metaid = "200618_MV"
	ssheet = "samplesheet.csv"

       /* =============================
       *   Automatically set params:
       *  =============================
       */


	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${experiment}/CTG_output/"


	// Lanes (Set 0 if all lanes should be included!)
	lanes = 0

	// Automatic assignment
	sheet = "$experiment/$ssheet"
	fqDir = "${outDir}Fastq/"
	qcDir = "${outDir}QCdir/"
}

// Define SLURM specs
process {
	executor='slurm'
	queue='normal'
	container = '/fs1/per/containers_singularity/cellranger-rna/cellranger-rna_3.1.0_pipe.sif'
	time='15h'
	cpus='16'

}


singularity {
	    enabled = true
	    runOptions = '--bind /fs1/ --bind /local/'	    
}
