// Configuration file for 10x scATACseq analysis pipeline 

params {

       /* =====================
       * User defined params:
       *  =====================
       */

	// Folder of experiment raw data
	experiment = "/fs1/seqdata/NovaSeq/200515_A00681_0138_BHLGHNDRXX"

	// Sample Sheet (Must be in directory defined above!)
	sheetType = "normal"
	ssheet = "samplesheet.csv"

	// Directory to store fastq data etc.
	// If not store in same dir where you run the pipeline, give entire path.

 	outDir = "${experiment}/CTG_output_dir_2/"


	// Project ID (Can be any)
	metaid = "200515_Yiyi"

	// if to run a process
        aggregate=true

	// Automatic assignment
	sheet = "$experiment/$ssheet"
	fqDir = "${outDir}Fastq/"
	countDir = "${outDir}Count/"
	qcDir = "${outDir}QC/"
	aggDir = "${outDir}Aggregate/"
	sumDir = "${outDir}Summaries/"
}

// Define SLURM specs
process {
	executor='slurm'
	queue='normal'
	container = '/fs1/per/containers_singularity/cellranger-rna/cellranger-rna_3.1.0_pipe.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='24h'
		cpus='16'
		memory='64 GB'
	}
	withName:count {
		executor='slurm'
		queue='normal'
		time='2d'
		cpus='24'
		memory='180 GB'
	}

}


singularity {
	    enabled = true
	    runOptions = '--bind /fs1/ --bind /local/'	    
}
